<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Embedded Style Sheet</title>
<style>

@keyframes changeSize {
  0%   { width: 100%; left: 0%; }
  50%  { width: 30%; left: 35%; }
  100% { width: 100%; left: 0%; }
}

.background-video {
  position: fixed;
  width: 100%; height: 100%;
  left: 0%; top: 0%;
  box-shadow: inset 0 0 0 1px #000000;
}

.myVideo {
  position: absolute;
  width: 50%; height: auto;
  background-color: #000000;
  top: 50%; margin-top: -25px;
  left: -20%; margin-left: 150px; /* here's the negative-scalar + constant! */
}


</style>
</head>
</html>
